.body{
  margin: 0;
  padding: 0;
  display: flex;
}

.wrapper{
  display: flex;
  margin: auto;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: 100vh;
}

.main-container{
  display: flex;
  width: 600px;
  border-radius: 26px;
  background-color: mediumslateblue;
  box-shadow: 10px 15px 15px rgba(0, 0, 255, .05);
  flex-direction: column;
}

input{
  height: 100px;
  border: none;
  background: rgb(255, 255, 255, 0.25);
  font-size:48px;
  padding: 15px;
  color: aliceblue;
  text-align: right;
  font-family: "Oswald", sans-serif;
}

input:active, :hover, :focus{
  outline: 0;
  outline-offset: 0;
}

.sections{
  display: grid;
  grid-template-columns: 28% 28% 28% 16%;
  grid-auto-rows: 100px;
  padding: 15px;
}

button{
  weight: 1fr;
  border-radius: 8px;
  font-family: "Anta", "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  margin: 4px;
  border: none;
}

button:active {
  background-color: ghostwhite;
}

.buffer{
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: right;
}

.buffer-list{
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  color: white;
  background-color: rgb(255, 255, 255, 0.25);
  margin-right: 76px;
  margin-bottom: 15px;
}

.buffer-list:active{
  background-color: rgb(255, 255, 255, 0.1);
}

.modal{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0%);
}

.modal.active{
    transform: scale(100%);
}

.modal__content{
  padding: 25px;
  border-radius: 12px;
  background-color: #ffffff;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  max-height: 600px;
}

.history-item{
  list-style-type: none;
}

.modal__content>ul{
  max-height: 540px;
  overflow-y: auto;
}